* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    gap: 40px;
    margin: 30px;
}

.box {
    border: 2px solid;
    border-radius: 3px;
    width: 25%;
    height: 800px;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.green {
    background-color: rgb(89, 161, 89);
}

.blue {
    background-color: rgb(77, 77, 240);
}